*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template: 
    'header header header header' auto
    'left-side  emails settings shortcuts' 1fr/
    150px  1fr 150px 80px;
}
.header{
    grid-area: header;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0.5rem 1rem;
    gap: 3rem;
    align-items: center;
    
}
.search{
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color:#e7eeee;
    border-radius: 5px;
    align-items: center;
    

}
.search-bar{
    border: none;
    border-radius: 5px;
    background-color: #e7eeee;
    padding: 0 1rem;
    height: 40px;
    align-items: center;


}
.gmail-logo{
    width: 60px;
}
.left__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
    padding-right:0.5rem;
}
.left-side{
    grid-area: left-side;
    background-color: rgb(255, 255, 255);
}
.emails{
    grid-area: emails;
    background-color: rgb(243, 241, 241);
}
.shortcuts{ 
    grid-area: shortcuts;
    background-color:bisque;
}
.settings{
    grid-area: settings;
    background-color: rgb(255, 255, 255);
}
#search__icon{
    display: grid;
    place-items: center;
    padding: 0 0.3rem;
    background-color: #e7eeee00;
    color: #888888;
}

#expand__icon{
    display: grid;
    place-items: center;
    padding: 0 0.3rem;
    background-color: #e7eeee00;
    color: #888888;
}
.header button{
    border: none;
    background:none;


}
#profile-image{
    border: solid gray 0.5px ;
    border-radius: 10px;
    padding: 2px;
    font-size: 15px;
    place-items: center;

}
a{
    text-decoration: none;
    color: black;
}
.left-side button{
    border: none;
    padding: 1.3rem;
    background: none;
    
}
.emails{
    padding: 1rem;
    margin: 1rem;
}